* {
    box-sizing: border-box;
    color: #111344;
}

body {
    margin: 0px;
    background-color: #DAE0F2;
    font-family: 'Courier New', Courier, monospace;
    }

p,
a,
li {
    line-height: 1.5em;
    font-size: 1.1em;
}

a:hover {
    color: #EFE9E7;
}

a:link {
    color: #52154E;
}

a:visited {
    color: #ce45b7;
}